<html>
<body>

<h2>Topic: Tuples and sets</h2>
<hr><hr>
<h3>USN: 1MS19CS072 </h3>
<h3>NAME: MOHAK KHOWAL</h3>
<hr><hr>
</body>
</html>

<html>
<body>

<h1>Questions</h1>

<ol type="i">
  <li>Given a list of tuples, extract all tuples having K digit elements.</br>
Input : test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (78, )], K = 2 </br>
Output : [(34, 55), (12, 45), (78,)] </br>
Explanation : All tuples have numbers with 2 digits.</br>
Input : test_list = [(54, 2), (34, 55), (222, 23), (12, 45), (782, )], K = 3</br> 
Output : [(782,)]</br> 
Explanation : All tuples have numbers with 3 digits.</br> 
</li>
  <li>While working with Python data, we can have a problem in which we have data in form of nested and non-nested form inside in a single tuple, and we wish to count the element frequency in them. This kind of problem can come in domains such as web development and Data Science.</br> 
Input : test_tuple = (5, (6, (7, 8, 6)))</br>
Output : {5: 1, 6: 2, 7: 1, 8: 1}</br>
Input : test_tuple = (5, 6, 7, 8)</br>
Output : {5: 1, 6: 1, 7: 1, 8: 1}</br>
</li>
  <li>Given a set, write a Python program to generate all possible subset of size n of given set within a list.</br>
Examples:</br>
Input : {1, 2, 3}, n = 2</br>
Output : [{1, 2}, {1, 3}, {2, 3}]</br>
Input : {1, 2, 3, 4}, n = 3</br>
Output : [{1, 2, 3}, {1, 2, 4}, {1, 3, 4}, {2, 3, 4}]</br>
</li>
</ol>
<hr><hr>
</body>
</html>

<html>
<body>

<h1>SOLUTIONS</h1>
</body>
</html>

<html>
<body>
<h3>program 'i'</h3>
<h4>Code :</h3>
</body>
</html>

In [ ]:
def reqdTuples(data,k):
  ans=[]
  for x in data:
    if min(x)>=(10**(k-1)) and max(x)<(10**(k)):
      ans.append(x)
  return ans

In [ ]:
reqdTuples([(54, 2), (34, 55), (222, 23), (12, 45), (78, )],2)

[(34, 55), (12, 45), (78,)]

In [ ]:
reqdTuples([(54, 2), (34, 55), (222, 23), (12, 45), (782, )],3)

[(782,)]

<html>
<body>
<h3>program 'ii'</h3>
<h4>Code :</h3>
</body>
</html>

In [7]:
from collections import Counter
def helper(data,ans):
  for x in data:
    if isinstance(x,tuple):
      helper(x,ans)
    else:
      ans.append(x)
  return ans  

def count(data):
  ans=[]
  return dict(Counter(helper(data,ans)))

In [8]:
data = (5, (6, (7, 8, 6)))
count(data)

{5: 1, 6: 2, 7: 1, 8: 1}

In [10]:
data = (5,6,7,8)
count(data)

{5: 1, 6: 1, 7: 1, 8: 1}

<html>
<body>
<h3>program 'iii'</h3>
<h4>Code :</h3>
</body>
</html>

In [ ]:
import itertools
def subsets():
  data = set(map(int,input('Enter elements of set: ').split()))
  k = int(input('Enter the size of required subsets: '))
  print(list(map(set, itertools.combinations(data, k))))

In [ ]:
subsets()

Enter elements of set: 1 2 3
Enter the size of required subsets: 2
[{1, 2}, {1, 3}, {2, 3}]

In [ ]:
subsets()

Enter elements of set: 1 2 3 4
Enter the size of required subsets: 3
[{1, 2, 3}, {1, 2, 4}, {1, 3, 4}, {2, 3, 4}]