<html>
<body>

<h2>Topic: Functions</h2>
<hr><hr>
<h3>USN: 1MS19CS072 </h3>
<h3>NAME: MOHAK KHOWAL</h3>
<hr><hr>
</body>
</html>

<html>
<body>

<h1>Questions</h1>

<ol type="i">
  <li>Write a python function geometric() that takes a list of integers as input and returns True if the integers in the list form a geometric sequence. A sequence a0, a1, a2, a3, a4, . . . , an is a geometric sequence if the ratios a1/a0, a2/a1, a3/a2, a4/a3, . . . , an-1/an are all equal.</br>
>>> geometric([2, 4, 8, 16, 32, 64, 128, 256])</br>
True</br>
>>> geometric([2, 4, 6, 8])</br>
False

</li>
  <li>Write a python function names() that takes no input and repeatedly asks the user to enter the first name of a student in a class. When the user enters the empty string, the function should print for every name the number of students with that name.</br>
>>> names()</br>
Enter next name: Valerie</br>
Enter next name: Bob</br>
Enter next name: Valerie</br>
Enter next name: Amelia</br>
Enter next name: Bob</br>
Enter next name:</br>
There is 1 student named Amelia</br>
There are 2 students named Bob</br>
There are 2 students named Valerie</br>

</li>
  <li>Write a python function subsetSum() that takes as input a list of positive numbers and a positive number target. Your function should return True if there are three numbers in the list that add up to target. For example, if the input list is [5, 4, 10, 20, 15, 19] and target is 38, then True should be returned since 4+15+19 = 38. However, if the input list is the same but the target value is 10, then the returned value should be False because 10 is not the sum of any three numbers in the given list.
</li>
<li>Write the function alternatingSum(L) that takes a list of numbers and returns the alternating sum (where the sign alternates from positive to negative or vice versa). For example, alternatingSum([5,3,8,4]) returns 6 (that is, 5-3+8-4). If the list is empty, return 0.
</li>
</ol>
<hr><hr>
</body>
</html>

<html>
<body>

<h1>SOLUTIONS</h1>
</body>
</html>

<html>
<body>
<h3>program 'i'</h3>
<h4>Code :</h3>
</body>
</html>

In [ ]:
def geometric(nums):
  if len(nums)<=1:
    print('Not enough numbers in the list')
    return False
  else:
    temp = nums[1]/nums[0]
    for i in range(1,len(nums)):
      if(nums[i]/nums[i-1]!=temp):
        return False
    return True

In [ ]:
geometric([2, 4, 6, 8])

False

In [ ]:
geometric([2, 4, 8, 16, 32, 64, 128, 256])

True

<html>
<body>
<h3>program 'ii'</h3>
<h4>Code :</h3>
</body>
</html>

In [ ]:
data = {}
def names():
  name = input('Enter next name: ')
  if name!="":
    if name not in data.keys():
      data[name]=1
    else:
      data[name]+=1
    names()
  else:
    for x,y in data.items():
      if y==1:
        print('There is',y,'student named',x)
      else:
        print('There are',y,'students named',x)

In [ ]:
names()

Enter next name: mohak
Enter next name: mohak
Enter next name: khowal
Enter next name: unnamed
Enter next name:
There are 2 students named mohak
There is 1 student named khowal
There is 1 student named unnamed

<html>
<body>
<h3>program 'iii'</h3>
<h4>Code :</h3>
</body>
</html>

In [ ]:
def subsetSum(data,sum):
    for i in range(0, len(data)-1):
        s = set()
        temp=sum-data[i]
        for j in range(i + 1, len(data)):
            if (temp - data[j]) in s:
                return True
            s.add(data[j])
    return False

In [ ]:
subsetSum([1, 4, 45, 6, 10, 8],22)

True

In [ ]:
subsetSum([1,2,3],69)

False

<html>
<body>
<h3>program 'iv'</h3>
<h4>Code :</h3>
</body>
</html>

In [1]:
def alternatingSum(data):
  return sum(data[::2])-sum(data[1::2])

In [2]:
alternatingSum([5,3,8,4])

6

In [3]:
alternatingSum([])

0